#Python cache files
__pycache__/

#VSCode settings
.vscode/

#IDE settings
.idea/

#MacOS system files
.DS_Store

#Log files
*.log

#Python virtual environment
venv/

#Ignore the .env file that contains API keys and sensitive information
.env

#Ignore the SQLite database file if it exists
database.db

#Ignore the output directory for processed data
output/

#Credentials file for Google Cloud
credentials.json