#Python cache files
__pycache__/

#VSCode settings
.vscode/

#IDE settings
.idea/

#MacOS system files
.DS_Store

#Log files
*.log

#Python virtual environment
venv/

#Ignore the credentials file that contains API keys and sensitive information
.env
credentials.json
.env_encoded


#Ignore the SQLite database file if it exists
database.db


# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info